<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Bienvenidos al Sistema de Gestión de Ingresos y Egresos</h1>
    <p>Para comenzar, ingrese al sistema con sus datos de perfil creados anteriormente. Si aún no posee un perfil, seleccione la opción
    de registrarse. Recuerde que solamente el Usuario Administrador podrá crear empresas, empleados y movimientos de dinero. Si usted es un
    usuario de tipo Operativo, solamente podrá acceder a la vista de los movimientos de dinero que se registren en la empresa a la cual está
    registrado.</p>
    <br>
    <a th:href="@{/login}">INGRESAR</a>
    <br>
    <br>
    <a th:href="@{/employees}">REGISTRARSE</a>
</body>
</html>