<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New enterprise</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}" >
    <link rel="stylesheet" th:href="@{/css/css-footer.css}">
</head>
<body>
    <header th:replace="layout/templates :: header"></header>
    <section th:replace="layout/templates :: mainIndex"></section>
    <h1>Datos de la Empresa</h1>
    <br>
    <br>
    <a th:href="@{/enterprise/list}">Regresar</a>
    <br>
    <br>
    <form id="customer-form" th:action="@{/enterprise/guardar}" method="post" th:object="${enterprise}">
        <input type="hidden" name="idEnterprise" th:field="*{idEnterprise}">
        <input type="hidden" name="createdAt" th:field="*{createdAt}">
        <label for ="name">Nombre</label>
        <input type ="text" name ="name" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error nombre</span>
        <br>
        <label for ="address">Dirección</label>
        <input type ="text" name ="address" th:field="*{address}"/>
        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Error dirección</span>
        <br>
        <label for ="phone">Teléfono</label>
        <input type ="text" name ="phone" th:field="*{phone}"/>
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Error teléfono</span>
        <br>
        <label for ="nit">Nit</label>
        <input type ="text" name ="nit" th:field="*{nit}"/>
        <span th:if="${#fields.hasErrors('nit')}" th:errors="*{nit}">Error Nit</span>
        <br>
        <br>
        <input type="submit" name="guardar" value="Guardar">

    </form>
</body>
</html>