<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar Transactions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <h2>Listar Transacciones</h2>
    <a th:href="@{/}">Menu principal</a>
    <br>
    <a th:href="@{/transactions/registration}">Registrar Transaccion</a>
    <table class="table table-sm">
      <thead>
      <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Valor</th>
          <th scope="col">Concepto</th>
          <th scope="col">Detalle</th>
          <th scope="col">Empleado</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="Transaction : ${transacciones}">
          <td th:text="${Transaction.createdAt}"></td>
          <td th:text="${Transaction.amount}"></td>
          <td th:text="${Transaction.concept}"></td>
          <td th:text="${Transaction.detail}"></td>
          <td th:text="${Transaction.employee.name}+ ' ' + ${Transaction.employee.surnames}"></td>
      </tr>
      </tbody>
    </table>


<a th:href="@{/transactions/registration}">Registrar Transaccion</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" inintegrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>